body {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    /* CBPM */
    padding: 0; /* CSS Reset */
    margin: 0;  /* CSS Reset */
}

.header {
    /* CBPM */
    padding: 24px;
}

.grid-size-button {
    /* CBPM */
    padding: 4px 12px;
}

.container {
    /* Display declarations */
    display: flex;
    flex: 0;
    flex-wrap: wrap;

    /* Transform and constraints */
    width: 800px;
    height: 800px;

    /* Debug borders */
    border-style: solid;
    border-width: 2px;
    border-color: #FF0000;
    /* Left this in because kinda need a border but too
    lazy to actually style. lmfao */
}