body {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.container {
    /* Display declarations */
    display: flex;
    flex: 0;
    flex-wrap: wrap;

    /* Transform and constraints */
    width: 800px;
    height: 800px;

    /* Debug borders */
    border-style: solid;
    border-width: 2px;
    border-color: #FF0000;
}

.test-block {
    display: flex;

    width: 58px;
    height: 58px;
    
    /* Debug borders */
    border-style: solid;
    border-width: 2px;
    border-color: #00FF00;
}